body {
    margin: 0;
    background-color: rgb(64, 48, 24);
}

.section {
    display: flex;
    margin: 100px 150px;
    box-shadow: -2px 2px 5px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.h2 {
    text-align: center;
    text-decoration: none;
    font-size: 35px;

}

a {
    text-decoration: none;
    color: rgb(56, 9, 9);
}